html {
    scroll-behavior: smooth;
    scroll-padding-top: 133px;

}

@font-face {
    font-family: 'Gilroy-extrabold';
    src: url(../fonts/gilroy-extrabold.otf);
    format: ('otf');
}

@font-face {
    font-family: 'Gilroy-light';
    src: url(../fonts/gilroy-Light.otf);
    format: ('otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Gilroy-extrabold', sans-serif;
}

a{
    text-decoration:none ;      
}